body {
	background-color: rgb(24, 24, 32);
}

header {
  padding: 154px 0 100px;
  margin: 0;
  background: url(../images/bckgrnd.jpg);
  background-size: 1280px 720px;
  background-repeat: no-repeat;
  display: compact;
}

@media (min-width: 992px) {
  header {
    padding: 224px 0 100px;
  }
}

section {
  padding: 35px 0;
}

span.unique {
  color:rgb(255, 184, 130);
}
span.set {
  color:rgb(3, 255, 24);
}
span.rare {
  color:rgb(237, 255, 38);
}
span.magic {
  color:rgb(128, 128, 255);
}
span.superior {
  color:rgb(255, 255, 128);
}
span.fire {
  color:rgb(255, 77, 77);
}
span.orange {
  color:rgb(255, 175, 60);
}
span.dgray {
  color:rgb(105, 105, 105);
}
span.purple {
  color:rgb(180, 104, 255);
}
span.lime {
  color:rgb(64, 255, 0);
}
span.white {
  color:rgb(255, 255, 255);
}

.spoiler {
  display: none;
}
.spoiler1 {
  display: none;
}
.spoiler2 {
  display: none;
}
.spoiler3 {
  display: none;
}
.spoiler4 {
  display: none;
}
.spoiler5 {
  display: none;
}
.spoiler6 {
  display: none;
}
.spoiler7 {
  display: none;
}
.spoiler8 {
  display: none;
}
.spoiler9 {
  display: none;
}
.spoilera {
  display: none;
}
.spoilerb {
  display: none;
}
.spoilerc {
  display: none;
}
.spoilerd {
  display: none;
}
.spoilere {
  display: none;
}
.spoilerf {
  display: none;
}
.spoilerg {
  display: none;
}
.spoilerh {
  display: none;
}
.spoileri {
  display: none;
}
.spoilerj {
  display: none;
}
.spoilerk {
  display: none;
}
.spoilerl {
  display: none;
}
.spoilerm {
  display: none;
}
.spoilern {
  display: none;
}
.spoilero {
  display: none;
}
.spoilerp {
  display: none;
}
.spoilerr {
  display: none;
}
.spoilers {
  display: none;
}
.spoilert {
  display: none;
}

class="dynamic"
a.dynamic {
    border-bottom: 1px dashed #0066CC;
    text-decoration: none;
}